body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: '960px';
    font-size: '18px';
}

header {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 20px;
    margin: 0px 10% 1% 10%;
}

nav {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 0px 10% 1% 10%;
}

#navlist {
    list-style-type: none;
}

li {
    display: inline;
}
section {
    float: left;
    text-align: center;
    background-color: #ebebeb;
    width: 50%;
    margin: 1% 0 2% 10%;
}

article {
    color: #ebebeb;
    background-color:#777;
    margin: 5% 5% 5% 5%;

}

aside { 
    text-align: center;
    float: right;
    color: #777;
    background-color: #ebebeb;
    width: 28%;
    margin: 1% 10% 2% 0;
}

footer {
    clear: both;
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    margin: 0 10% 0% 10%;
}
